
/* NavBar.css */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  color: rgb(141, 141, 141);
}
.navbar-link:hover{
  color: rgb(92, 92, 92);
  transition: ease-in-out 0.2s;
}

.navbar-logo {
  width: 95px;
  object-fit: contain;
  margin-right: 50px;
  margin-left: 40px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-right: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-link.active {
  color: #ffffff;
  font-weight: bold;
}

.fas.fa-user-circle {
  /* margin-left: auto; */
  /* margin-right: 0px; */
  font-size: 20px;
  color: #fff;
}
.navbar-icons {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: auto; /* Adicionado para mover os ícones para o canto direito */
}

.navbar-icons i {
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
}
